[Unit]
Description=Prometheus Node Exporter

[Service]
User=prometheus
EnvironmentFile=/opt/.node_exporter/.systemd.env
ExecStart=/usr/bin/node_exporter $OPTIONS

[Install]
WantedBy=multi-user.target
