[Unit]
Description=Prometheus Node Exporter

[Service]
User=prometheus
EnvironmentFile=/opt/prometheus/node_exporter.env
ExecStart=/usr/bin/node_exporter $OPTIONS

[Install]
WantedBy=multi-user.target